.join {
    min-height: 250px;
    &__link {
        text-align: center;
        margin: 0 auto;
        a {
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 47px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #777777;
            text-decoration: none;
            padding-bottom: 10px;
            border-bottom: 1px solid #D5D5D5;
        }
    }
}